.TopBar {
	
display: inline-block;
	width: 151px;
		color: white; 
			font-size: 1vw;
				text-align: center;
	
}

#div1 {
	
	background-color: #001489;
		margin: 0px;
	
	
}

body, head{
	
	margin: 0px;
	
}
#Logo {
	
	margin-left: 150px;
		margin-top: 25px;
			margin-bottom: 20px 
}

.Logo2 {
	
	
	display: inline-block;
		align-content: center;
		
}
